/*-------header -------*/

.navbar {
  background-color: var(--main-color);
  box-shadow: var(--shadow-black-300);
  padding: 5px 0 !important;
  transition: all 0.5s ease;
}
.navbar.dark {
  background-color: var(--bg-dark) !important;
}

.navbar-nav {
  box-shadow: var(--shadow-black-300);
  width: 100vw;
}

.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  padding: 10px 0;
}
.navbar > .container {
  padding: 0 15px;
}

.navbar .navbar-brand {
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 30px;
  margin-top: 10px;
}

.navbar .navbar-brand img {
  width: 50vw;
  max-width: 200px;
  height: 3rem;
  margin-top: -1rem;
  margin-left: -1rem;
}

.navbar .nav-item {
  margin-right: 30px;
}

.navbar .nav-items {
  margin-right: 30px;
}

@media (max-width: 1080px) {
  .navbar .nav-items .nav-link {
    display: none;
  }
}

.navbar .nav-item .nav-link {
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0 10px 15px;
  position: relative;
}

.navbar .nav-item .nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

.navbar .nav-items .nav-link {
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  position: relative;
}

.navbar .nav-items .nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-items .nav-link.active::before,
.navbar .nav-items .nav-link:hover::before {
  transform: scale(1);
}

#spacer {
  flex: 1;
}

@media (max-width: 1080px) {
  .navbar-toggler {
    box-shadow: var(--shadow-black-300);
    height: 34px;
    width: 44px;
    padding: 0;
    margin-right: 10px;
    font-size: 17px;
    color: #ffffff;
  }

  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }

  .navbar.navbar-shrink .navbar-toggler,
  .navbar.navbar-shrink .navbar-nav {
    background-color: var(--main-color);
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
  }
}
