main {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.5 !important;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main.dark {
  background-color: var(--bg-dark);
  --black-100: var(--bg-dark);
  --black-000: var(--bg-dark);
  --main-to-dark-color: var(--bg-dark);
  --dark-to-main-color: var(--main-color);
  --shadow-black-100: var(--shadow-black-300);
  --black-alpha-100: rgba(255, 255, 255, 0.05);
  --black-900: #ffffff;
  --black-400: #bbbbbb;
}

.container {
  width: 100%;
  padding: 0 3rem;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100% !important;
    padding: 0 3rem;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.section-padding {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 30px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--black-900);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.section-title h2 span {
  color: var(--main-color);
}
@media (max-width: 1080px) {
  .effect-wrap .effect-1 {
    display: none;
  }
  .section-title h2 {
    font-size: 35px;
  }
}

/* ------scroll bar----- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 30px;
}
