:root {
  --main-color: #7857fe;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
  --primary-color: #5924ed;
  --secondary-black: #0d081a;

  --body-bg: #efebfa;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.5 !important;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  background-color: var(--bg-dark);
  --black-100: var(--bg-dark);
  --black-000: var(--bg-dark);
  --main-to-dark-color: var(--bg-dark);
  --dark-to-main-color: var(--main-color);
  --shadow-black-100: var(--shadow-black-300);
  --black-alpha-100: rgba(255, 255, 255, 0.05);
  --black-900: #ffffff;
  --black-400: #bbbbbb;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
